<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmd.productividad.dao.mappers.LenguajeMapper">

	<resultMap id="lenguajeResultMap" type="Lenguaje">
		<id property="id" column="ID_LENGUAJE" />
		<result property="indicadorTipo" column="IN_TIPO" />
		<result property="nombre" column="NO_LENGUAJE" />
	</resultMap>

    <select id="selectAll" resultMap="lenguajeResultMap">
        SELECT * FROM LENGUAJE ORDER BY NO_LENGUAJE ASC
    </select>
    <!--
    <select id="selectById" resultMap="lenguajeResultMap">
        <![CDATA[
            SELECT * FROM ACTIVIDAD_COLABORADOR WHERE id = ${hash}{id}
        ]]>
    </select>

    <update id="update">
        <![CDATA[
            UPDATE ACTIVIDAD_COLABORADOR SET email = ${hash}{email}, password_hash = ${hash}{passwordHash} WHERE id = ${hash}{id}
        ]]>
    </update>

    <delete id="delete">
        <![CDATA[
            DELETE FROM ACTIVIDAD_COLABORADOR WHERE id = ${hash}{id}
        ]]>
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO ACTIVIDAD_COLABORADOR (ID_ACTV_COLA, ID_COLABORADOR, ID_PROYECTO, TI_ACTIVIDAD_FE_INICIO, FE_FIN,TO_TIEMPO) VALUES (${hash}{email}, ${hash}{passwordHash})
        ]]>
    </insert>-->

</mapper>
